.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color:  #fff;
}

.navContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.nav .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .logo img{

  width: 5rem;
}
.nav .menu ul li{

  margin-right: 1rem;

}

.nav .menu ul li a {
  color: #0c572e;
  padding-right: 25px;
  font-weight: bold;
  font-size: 1.1rem;
  transition: all ease-in 0.3s;
}

.nav .menu ul li a:hover:not(.logo){
  background-color: #2e7d32;
  border: 1px solid;
  padding: 0.5rem 0.6rem;
  border-radius: 0.2rem;
  border: none;
  color: #fff;
}

.nav .right {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 5px;
}
.menuIcon {
  color: #0c572e;
  font-size: 1.5rem;
  border: 2px solid #0c572e;
  border-radius: 0.5rem;
  font-weight: bold;
}
.nav .menuList .closeIcon {
  display: none;
}

@media (max-width: 768px) {
  .navContainer {
    width: 95%;
  }
  .nav .left {
    display: block;
    text-align: center;
  }


  .menuIcon {
    display: block;
    cursor: pointer;
  }
  .menu {
    display: none;
  }

  .nav .menu.showMenu {
    display: block;
  }

  .nav .menuList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: -20%;
    top: 0;
    background-color: #fff;
    border-right: 0.0625rem solid #dee0ea;
    height: 100%;
    width: 50%;
    z-index: 999;
    transition: all ease 0.3s;
  }

  .nav .menuList .closeIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #0c572e;
    font-size: 1.5rem;
    border: 2px solid #0c572e;
    border-radius: 0.5rem;
    font-weight: bold;
  }

  #menuToggle:checked + .menu {
    display: block;
  }
}
@media (min-width: 768px) {
  .menuIcon {
    display: none;
  }
}
