select,.input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #fcf4f4;
    margin-top: 7px;
    font-size: 16px;
}

select:focus,.input:focus {
    outline: none;
}

select:focus-within,.input:focus-within {
    background-color: #EFEFEF;
}

select:hover,.input:hover {
    background-color: #c4d1db;
    border: none;
}

button {
  border-radius: 10px;
  background-color: #034f84;
  color: #7BD8C0;
  border: none;
  align-self: center;
  height: 55px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  background-color: #7BD8C0;
  color: #034f84;
}