.searchWrapper {
    border: 1px solid #9d9d9d;
    border-radius: 10px;
}

.searchForm {
    border: none;
    border-radius: 10px;
    background: #fff;
    width: 100%;
    display: flex;
}

.searchForm input {
    flex: 1;
    border: none;
    border-radius: 10px;
    outline: none;
    font-family: 'lucida sans', 'trebuchet MS', 'Tahoma';
    font-size: 20px;
    font-style: italic;
}

.searchForm button {
    background: #F6921E;
    border: none;
    height: 100%;
    border-radius: 10px;
    padding: 15px 15px;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .searchWrapper {
        left: 0%;
        right: 0%;
    }

    .searchForm input {
        font-size: 12px;
    }
}