.nav {
  position:fixed ;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  padding-top: 25px;
  background-color:  #007841;
  box-sizing: border-box;
}

.navContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.nav .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .menu ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav .logo img{
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #fff;
}
.nav .menu ul li{
  padding-left: 5px;
  padding-right: 5px;
}

.nav .menu ul li a {
  color: #fff;
  padding-right: 25px;
  font-weight: bold;
  font-size: 1.1rem;
  width: 100%;
}

.nav .menu ul li a:hover:not(.logo){
  background-color: #fff;
  border: 1px solid;
  padding: 0.5rem 0.6rem;
  border-radius: 0.2rem;
  border: none;
  color: #007841;
}

.nav .right {
  display: flex;
  align-items: center;
  margin-right: 30px;
  gap: 5px;
}
.menuIcon {
  color: #007841;
  font-size: 1.5rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;
  font-weight: bold;
}
.nav .menuList .closeIcon {
  display: none;
}
@media (max-width: 768px) {
  .navContainer {
    width: 95%;
  }
  .nav .left {
    display: block;
    text-align: center;
  }
  .menuIcon {
    display: block;
    cursor: pointer;
  }
  .menu {
    display: none;
  }
  .nav .menu.showMenu {
    display: block;
  }
  .nav .menuList {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: -35%;
    top: 0;
    background-color: #007841;
    border-right: 0.0625rem solid #007841;
    height: 100%;
    width: 20%;
    z-index: 3;
    transition: all ease 0.3s;
  }
  .nav .menuList .closeIcon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #007841;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 0.5rem;
    font-weight: bold;
  }
  #menuToggle:checked + .menu {
    display: block;
  }
}
@media (min-width: 768px) {
  .menuIcon {
    display: none;
  }
}
