.gallery {
  width: 80%;
  margin: 7rem auto 0;
  box-shadow: 1px 10px 10px 5px rgba(43, 21, 69, 0.24);
}

@media (max-width: 768px) {
  .gallery {
    width: 100%;
    margin-top: 3rem;
  }
}

.tabPanelBox {
  border: 1px solid #a89ba4;
  border-radius: 10px;
}