.homePageCarousel {
  margin-top: 64px;
  border-bottom: 1px solid #9d9d9d;
}

.homePageCarousel img {
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 1140px) {
  .homePageCarousel img {
    height: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .homePageCarousel {
    margin-top: 60px;
  }
  .homePageCarousel img {
    height: 300px;
  }
}

@media only screen and (max-width: 576px) {
  .homePageCarousel img {
    height: 200px;
  }
}